.idea-card {
  margin: 16px;
}

.idea-content {
  display: flex;
  gap: 20px;
}

.idea-img img {
  max-width: 400px;
  width: 100%;
}

.idea-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mat-card-actions {
  display: flex;
  justify-content: flex-end;
}

@media only screen and (max-width: 680px) {
  .idea-content {
    flex-direction: column;
  }
}
