<div class="signup-container">
  <mat-card class="signup-card">
    <mat-card-header>
      <mat-card-title>Please signup</mat-card-title>
    </mat-card-header>
    <p *ngIf="errorMsg">{{errorMsg}}</p>
    <mat-card-content class="signup-content">
      <mat-form-field>
        <input matInput placeholder="Username" [(ngModel)]="username">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" type="password" [(ngModel)]="password">
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button routerLink="/auth/login">Login</a>
      <button mat-raised-button color="primary" (click)="signup()">Signup</button>
    </mat-card-actions>
  </mat-card>
</div>
