.signup-container {
  display: flex;
  justify-content: center;
}

.signup-card {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.signup-container p {
  color: red;
}

.signup-content {
  display: flex;
  flex-direction: column;
}

.mat-card-actions {
  display: flex;
  justify-content: flex-end;
}

