.idea-card {
  margin: 16px;
}

.idea-card-content {
  display: flex;
  justify-content: space-between;
}

.idea-content {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.idea-info {
  display: flex;
  justify-content: space-around;
}

.idea-info-assignees, .idea-info-workflow, .idea-info-review {
  display: flex;
  flex-direction: column;
}

.idea-info-assignees p {
  margin: 0
}

.idea-review {
  display: flex;
  flex-direction: column;
}

.workflow-edit {
  font-size: 16px;
}