<mat-card class="idea-card">
  <mat-card-content class="idea-card-content">
    <div class="idea-content">
      <div class="idea-img">
        <img width="100%" [src]="idea.image" alt="Photo of a Shiba Inu">
      </div>
      <div class="idea-info">
        <div class="idea-info-assignees">
          <b>Assignees</b>
          <div *ngIf="idea.assignees.length > 0"><p *ngFor="let user of idea.assignees">{{user.username}}</p></div>
        </div>
        <div class="idea-info-workflow">
          <b>Workflow <mat-icon (click)="edit()" class="workflow-edit">edit</mat-icon></b>
          <div>{{workflowName}}</div>
        </div>
        <div class="idea-info-review">
          <b>Review Score</b>
          <div>{{score}}</div>
        </div>
      </div>
    </div>
    <div class="idea-summary">
      {{idea.summary}}
    </div>
    <div class="idea-review">
      <div>Posted {{idea.ownerName}}
        <app-review [rate]="idea.reviewScore" [ideaId]="idea.id" (updatedScore)="updatedScore($event)"></app-review>
      </div>
      <div>
        <mat-icon>calendar_month</mat-icon>
        <span>{{idea.createdAt | date:'medium'}}</span>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <a *ngIf="idea.ownerId === currentUserId" mat-raised-button [routerLink]="['/ideas', idea.id, 'edit']">Edit</a>
    <a mat-raised-button [routerLink]="['/ideas', 'create']">Create</a>
    <button *ngIf="idea.ownerId === currentUserId" mat-button (click)="delete()">Delete</button>
  </mat-card-actions>
</mat-card>
