.idea-card {
  margin: 16px;
}

.idea-card-content {
  display: flex;
  justify-content: space-between;
}

.idea-content {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.idea-info {
  display: flex;
}

.idea-info-assignees, .idea-info-workflow, .idea-info-review {
  display: flex;
  flex-direction: column;
}

.idea-info-assignees p {
  margin: 0
}

.idea-review {
  display: flex;
  flex-direction: column;
}

